<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Employee</title>
</head>
<body>


<h1>Opret Medarbejder</h1>

<form th:action="@{/createEmployee}" method="post" th:object="${employee}">

    <table align="center">
        <tr>
            <td>Navn</td>
            <td>Status</td>
            <td>Phone</td>
        </tr>
        <tr>
            <td>
                <input type="text" th:field="*{name}" placeholder="Navn"/>
            </td>

            <td>
                <input type="text" th:field="*{status}" placeholder="Status"/>
            </td>

            <td>
                <input type="text" th:field="*{phone}" placeholder="Phone"/>
            </td>
            <td>
                <input type="submit" value="Opret Medarbejder" class="btn" id="green" />
            </td>
        </tr>
    </table>
</form>

</body>
</html>