<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Employee</title>
</head>
<body>


<h1>Opret Medlem</h1>

<form th:action="@{/createMember}" method="post" th:object="${member}">

    <table align="center">
        <tr>
            <td>Navn</td>
            <td>E-Mail</td>
            <td>Nyhedsbrev</td>
        </tr>
        <tr>
            <td>
                <input type="text" th:field="*{name}" placeholder="Navn"/>
            </td>

            <td>
                <input type="text" th:field="*{mail}" placeholder="E-Mail"/>
            </td>

            <td>
                <input type="radio" name="newsletter" value="Ja"/>
            </td>

            <td>
                <input type="submit" value="Opret Medlem" class="btn" id="green" />
            </td>
        </tr>
    </table>
</form>

</body>
</html>