<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opdater KortMedlem</title>
</head>
<body>

<div class="container">
    <h1>Rediger KortMedlem</h1>

    <form th:action="@{/editCardHolder(id=${cardholder.id})}" th:method="post" th:object="${cardholder}">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{member.id}"/>
        <input type="text" th:field="*{member.name}" required="required"/>
        <input type="text" th:field="*{member.mail}" required="required"/>
        <input type="text" th:field="*{phone}" required="required"/>
        <input type="text" th:field="*{address}" required="required"/>
        <input type="text" th:field="*{postalCode}" required="required"/>
        <input type="hidden" th:field="*{card.cardId}"/>
            <input type="text" th:field="*{card.bCardNumber}" placeholder="kortnummer"/>
            <input type="date" th:field="*{card.bStartDate}" placeholder="udleveret"/>
            <input type="date" th:field="*{card.bEndDate}" placeholder="destrueret"/>

            <input type="text" th:field="*{card.sCardNumber}" placeholder="kortnummer"/>
            <input type="date" th:field="*{card.sStartDate}" placeholder="udleveret"/>
            <input type="date" th:field="*{card.sEndDate}" placeholder="destrueret"/>

            <input type="text" th:field="*{card.gCardNumber}" placeholder="kortnummer"/>
            <input type="date" th:field="*{card.gStartDate}" placeholder="udleveret"/>
            <input type="date" th:field="*{card.gEndDate}" placeholder="destrueret"/>

            <input type="text" th:field="*{employee.id}" placeholder="medarbejder id" readonly="readonly"/>


        <input type="submit" class="btn btn-success" name="action" value="Gem Ændringer"/>
    </form>
</div>
</body>
</html>