<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div class="container fill">
    <div class="row" th:if="${session.status == null}">

        <div class="col-md-8 col-md-offset-2 text-center" style="height: 500px">
            <div class="vcenter">


                <h2 style="color: #fff;">Log på</h2>
                <form method="POST" action="/login">
                    <input type="text" name="username" value="admin"/>
                    <input type="password" name="password" value="1234"/>
                    <input type="submit"  value="login"/>
                </form>
            </div>
        </div>
    </div>
    <div th:if="${session.status == '1'}">
        <h2 style="color: #fff;">You are already logged in</h2>
    </div>
</div>



</body>
</html>