<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>

    <link rel="stylesheet" media="all" type="text/css" href="style.css">

</head>
<body>

<div id="wrapperHeader">
    <div id="header">

    </div>
</div>


<div class="login-page">
    <div class="form" th:if="${session.status == null}">
        <form class="login-form" method="POST" action="/login">
            <input type="text" name="username" placeholder="Brugernavn"/>
            <input type="password" name="password" placeholder="Password"/>
            <button type="submit" value="login">Login</button>
        </form>
    </div>

    <div th:if="${session.status == '1'}">
        <h2 style="color: #fff;">You are already logged in</h2>
    </div>
</div>

</body>
</html>